body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    margin-left: auto;

    max-height: fit-content;
    background-color:white;
    color: black;
  }


.jumbotron {
    background-color: lightseagreen;
    color: white;
    padding: 60px 15px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px
}
 
.card-custom {
  max-width: 220px;

  
.footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }