{% extends "layout.html" %}
{% block title %}

{{ restaurant.name }}
{% endblock %}

{% block content %}

<h2> Tervetuloa ravintola {{ restaurant.name }} sivuille!</h2>
<p> Tarjoilemme {{ info.description }} </p>

<p>Yhteystiedot:
{{ info.phone }}
{{ info.email }} </p>



<p> Tänään meillä on listalla </p>
<ul>
{% for dish in menu %}
<li> {{ dish.menu }} - {{ dish.price }}0 €</li>
{% endfor %}
</ul>
<!--ravintolamenut sql:stä-->



{% if reviews %}
<h3>Lue muiden jättämiä arvosteluita</h3>
{% endif %}

<ul>
{% for comment in reviews %}
<li> {{ reviews.user_id }} {{ reviews.stars }} "{{reviews.comment }}"
{% endfor %}
</ul>

<!--arvostelu vain kirjautuneena! -->
{% if session.username %}
<h2>Montako tähteä annat ravintolalle?</h2>
<form action="/reviews" method="POST">
<br>
<!-- vain kirjautuneena kommentointi -->
<p> Jätä arvostelu
<br>
<textarea name="comment" rows="4" cols="35" maxlength="1000"></textarea>
<p><input type="submit" value="Lähetä">
<input type="hidden" name="restaurant_id" value="{{ id }}">
</form>
{% endif %}


</p>

<a href="/">Palaa etusivulle</a>

{% endblock %}
