{% extends "layout.html" %}
{% block title %}
	Kotisivu

{% endblock %}

{% block content %}



	<h2>Tervetuloa tilamaan maistuvaa ruokaa!</h2>

	<h2>Päivän tarjoukset</h2>
	<!-- Tee random joka arpoo kolme päivän annosta tarjoukseen -->
	<ul>
		<li>Kalakeitto
		<li>Lounasburgeri + ranskalaiset
		<li>Kikhernecurry
	</ul>

<br />

	{% if session.user_id %}
	<h3>Hei {{ session.user_name }}! Mahtavaa nähdä sinut täällä!</h3>
	{% else %}
	<p>Hei, kirjautumalla sisään pääset katsomaan ravintoloiden arvosteluja sekä saat käyttöösi mahtavia etuja!</p>	
	{% endif %}



	<form action="/result" method= "GET">
	<p>Mitä tekisi tänään mieli syödä?

	Hae eri vaihtoehdoja.</p>
	 <input type="text" name="query">
	<br />
	<input type="submit" value="Lähetä">
	</form> 
	<br>

	<p>


	Katsele eri ravintoloiden tarjontaa:

	<ul>
	{% for restaurant in restaurants %}
		<li><a href="/homepage/{{restaurant.id}}">{{ restaurant.name }}</a><br>
			{{ restaurant.description }}
		{% endfor %}
	</ul>

	{% if session.user_id %}
	<a href="/logout">Kirjaudu ulos</a>
	{% else %}
	<a href="/login">Kirjaudu sisään</a>
	{% endif %}

	{% if session.user_role == 2 %}
	<h3>Hei ravintoloitsija, haluatko muokata menua tai lisätä päivän tarjoukset? Kirjaudu omille sivuille niin näet lisää toimintoja</h3>
	<a href="/ownerpage">Valitse ravintola</a>
	{% endif %}
{% endblock %}
