{% extends "layout.html" %}
<head>
{% block title %}
	Kotisivu {% endblock %}
	</head>

{% block content %}

<body>	



<div class="container">
	<div class="row">
		<div class="col-4">


		<h2>Päivän tarjoukset</h2>
		<!-- Tee random joka arpoo kolme päivän annosta tarjoukseen -->
		<ul>
			<li>Kalakeitto
			<li>Burgeri + ranskalaiset
			<li>Kikhernecurry
		</ul>

	<br />

		<h2>Ilmainen kuljetus</h2>
		<ul>
			<li>Salad Bar</li>
			<li>El Estella</li>
		</ul>
	</div>

		<div class="col-8">

			{% if session.user_id %}
			<h3>Hei {{ session.user_name }}! Mahtavaa nähdä sinut täällä!</h3>
			{% else %}
			<p>Hei, kirjautumalla sisään pääset katsomaan ravintoloiden arvosteluja sekä saat käyttöösi mahtavia etuja!</p>	
			{% endif %}


			{% if session.user_role == 1 %}
			<form action="/result" method= "GET">
			<p>Mitä tekisi tänään mieli syödä?</p>


			<p>Hae eri vaihtoehdoja.</p>
	 		<input type="text" name="query" minlenght="1" maxlenght="15">
			<br />
			<input type="submit" value="Lähetä">
			</form> 
			<br>

			{% elif session.user_role == 2 %}
			<p>Hei ravintoloitsija, haluatko muokata menua tai lisätä päivän tarjoukset? Valitse minkä ravintolan sivuja haluat muokata</p>
			<div class="dropdown">
			<button type="button bg-light" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
		  	Valitse Ravintola
			</button>
			<ul class="dropdown-menu">
				{% for restaurant in restaurants %}
		  		<li><a class="dropdown-item" href="/ownerpage/{{restaurant.id}}">{{ restaurant.name }}</a></li>
			  	{% endfor %}
			{% endif %}
		  
			</ul>
		</p>
			<br>

			

			<p>Katsele eri ravintoloiden tarjontaa:

			<ul>
			{% for restaurant in restaurants %}
				<li><a href="/homepage/{{restaurant.id}}"><strong>{{ restaurant.name }}<strong></strong></a><br>
				{{ restaurant.description }}
				{% endfor %}
			</ul>

			
	  	</div>
	  </div>
	</body>
	
{% endblock %}
