{% extends "layout.html" %}
<head>
{% block title %}
	Kotisivu {% endblock %}
	</head>
{% block content %}

<body>	

<div class="jumbotron text-center">
    <img src="/static/Logo.png" alt="Logo">
    <h1>Tervetuloa tilamaan maistuvaa ruokaa!</h1>
    <h3>Suoraan kotiovelle</h3>
</div>

<div class="container">
	<div class="row">
		<div class="col-6">

		<div class="ratings">
		<h3>Tähtiarvostelut:</h3>
		<ul>
			{% for place in top_rated %}
			<li>
				{{ place.name }}
				{% for n in range(place.avg_stars) %}
  					<span class="review-star-active">★</span>{% endfor %}</li> 			
					{% endfor %}
		</ul>
		</div>
	</div>

		<div class="col-6">

			{% if session.user_role == 1%}
			{% if not favorites %}
			<h3>Omat suosikit:</h3>
			<p>Sinulla ei ole vielä suosikkeja</p>
			{% else %}
			<h3>Omat suosikit:</h3>
			<ul>
				{% for place in favorites %}
				<li>{{ place.name}}</li>
				{% endfor %}
			{% endif %}{% endif %}
			</ul>

			</div>
		</div>		
	</div><br>				

<div class="container text-center">
	<h3><strong>Ravintolat: </strong></h3>	
	<div class="row mt-5 justify-content-center">
        {% for restaurant in restaurants %}	
			<div class="card card-custom mx-2 mb-3">
				<img class="card-img-top" src="/static/{{ restaurant.id }}.png" alt="restaurant.name">
					<div class= "card-body d-flex flex-column">
						<h4 class="card-title text-center">{{ restaurant.name }}</h4>
						<p class="card-text text-center">{{ restaurant.description }}</p>
						<a href="/homepage/{{ restaurant.id }}" class="btn btn-info text-white mt-auto text-center">Siirry kotisivulle</a>
					</div>
				</div>
            {% endfor %}
			</p>
		</div>
	</div>			
</div>
</body>
	
{% endblock %}
