<!DOCTYPE html>
<html>

<head>
  {% block head %}
    <!--required meta tags-->
    <meta name= "viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/styles.css">
    
    <!--Title-->
    <title>Ghost Kitchen -
            {% block title %}
    
            {% endblock %}
    </title>
    {% endblock %}

</head>

<body>

  <div class="container-fluid"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        
          <a class="navbar-brand" href="/">Ghost Kitchen</a>
          <ul class="navbar-nav">    
                 <li class="nav-item">
                <a class="nav-link" href="/">Etusivu</a>
              </li>
            </ul>

            <ul class="navbar-nav navbar-right">
              {% if session.user_id %}
              <li class="nav-item">
                <a class="nav-link" href="/userpage/{{session.user_id}}">Omat tiedot</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Kirjaudu ulos</a>
            </li>
              {% else %}
              <li class="nav-item">
                    <a class="nav-link" href="/login">Kirjaudu sisään</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Rekisteröidy</a>
                </li>
            </ul>
              {% endif %}
              <!--
              <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Haku" aria-label="Haku">
              <button class="btn btn-outline-success" type="submit">Haku</button>
            </form> -->
          </nav>
          </div>
        
      

      <div class="jumbotron text-center">
        <img src="/static/Logo.png" alt="Logo">
        <h1>Tervetuloa tilamaan maistuvaa ruokaa!</h1>
        <h3>Suoraan kotiovelle</h3>
      </div>
      </body>

        {% block content %}

      

        {% endblock %}


<!--Footer-->
<footer class="container-fluid text-center">
  <a href="/" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>© Ghost Kitchen</p>
</footer>



<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
      -->








</body>





</html>
