{% extends "layout.html" %}
{% block title %}

{{ restaurant. name }}

{% endblock %}


{% block content %}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h3>Tulit ravintola {{ restaurant.name }} sivuille</h3>


                <h4> Valitse valikosta mitä haluat tehdä</h4>

                <form action="/remove" method="post">

                <!-- Muokkaa menua-->

                <p>Minkä annoksen haluat poistaa?</p>

                {% for portion in menu %}
                <input type="radio" name="menu_id" value="{{ portion.id }}"> {{ portion.dish }} <br>

                {% endfor %}
                <p>
                <input type="submit" value="Poista">
                <input type="hidden" name="restaurant_id" value="{{ id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </p>
                </form>

                <p>Lisää annos</p>

                <form action="/newdish" method="post">
                <p>Annoksen nimi: </p>
                <textarea name="dish" rows="3" cols="40" maxlenght="100"></textarea>
                <p>Annoksen hinta: </p> 
                <textarea name="price" rows="3" cols="40" maxlenght="100"></textarea>
                <input type="submit" value="Lähetä">
                <input type="hidden" name="restaurant_id" value="{{ id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
                

                <p>Ravintolan saamat arvostelut</p>
            </div>
        </div>
</body>





<!-- Poista ravintola -->

<!-- Lisää tarjous-->

<!-- Muuta yhteystietoja-->


{% endblock %}
