{% extends "layout.html" %}
{% block content %}

<body>	

    <div class="jumbotron text-center">
        <img src="/static/Logo.png" alt="Logo">
        <h1>Tervetuloa tilamaan maistuvaa ruokaa!</h1>
        <h3>Suoraan kotiovelle</h3>
    </div>

    <div class="container-fluid bg-light text-center">
        <h2>Rekisteröityminen</h2>
            <p>Hei! Mahtavaa nähdä että olet päättänyt rekisteröityä palveluidemme käyttäjäksi.
            <br>
            Kiitokseksi siitä, saat rekisteröitymisen yhteydessä alennuskoodin ensimmäiseen tilaukseesi.
            </p><br>

            <form action="/register" method="POST">
            Tunnus: <br>
            <input type="text" name="username" minlenght="3" maxlength="25">
            <p>
            Salasana: <br>
            <input type="password" name="password1">
            <p>
            Syötä salasana uudelleen: <br> 
            <input type="password" name="password2">
            <p>
            Käyttäjä:
            <select name="role">
                <option value= 1> Asiakas
                <option value= 2> Ravintoloitsija
            </select>
            <p>
            <input type="submit" value="Luo tunnus">
            </form></p>        
    </div>
</body>

{% endblock %}