{% extends "layout.html" %}
{% block title %}

{{ user.name }}
{% endblock %}

{% block content %}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                {% if session.user_id %}
                <p>Olet kirjautunut sisään nimellä : {{ user.name }}
                    </p>
                    {% endif %}

                # Omat suosikit:

                #Alennuskupongit:

                # Vaihda salasana:
                </div>


            </body>

            {% endblock %}
